/* Navbar Styles */
.navbar {
  background: #302b26;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.nav-links {
  cursor: pointer;
  display: flex;
  gap: 20px; /* Space between each link */
}

.nav-link {
  color: #e2e2e2;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 15px;
  border-radius: 4px;
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active {
  background-color: #fff;
  color: #987654;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.nav-link.disabled {
  color: #bdbdbd;
  cursor: not-allowed;
  opacity: 0.7;
}

/* User info and logoff button container */
.user-info {
  display: flex;
  gap: 15px; /* Spacing between the name and the button */
}

.user-info .text-white {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.btn-primary {
  background-color: #987654;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: #987654;
  transform: translateY(-3px);
}
.nav-links-small{
  display: none;
  color: #987654;
}

/* Responsive container layout */
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Makes the nav-links on the left and user-info on the right */
}

@media (max-width: 1024px) {
  .nav-links-small{
    display: block;
  }
  .nav-links{
    display: none;
  }

  .nav-link{
    color: #987654;
  }
  .nav-link.active{
    background-color: #987654;
    color: #fff;
  }

  .nav-link.disabled{
    color: #987654;
  }
}


