/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-menu-panel{

}

.cdk-overlay-container{
  display: none!important;
}

@media (max-width: 1024px) {
  .cdk-overlay-container{
    display: block!important;
  }
}

